@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Inter";
}

.navLogo{
    height: 50px;
    width: 50px;
}
.nav-link{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.1px;
color: #0D0A19;
margin-left: 20px;
}
.SignUp{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.1px;
color: #9A9EA7;
}
.SignUp img{
    background: #F5F6F7;
    border-radius: 10px;
    width: 30px;
    height: 25px;
    padding: 5px 8px;
    margin-right: 5px;
}
.section1{
    background-image: url(../IMG/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 580px;
}
.section1 h1{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 74px;
text-align: center;
letter-spacing: -0.304762px;
color: #FFFFFF;
padding-top: 100px;
}
.section1P{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #FFFFFF;
padding-top: 20px;
}
.heroFooterSection{
background: #FFFFFF;
box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
border-radius: 8px;
max-width: 945px;
height: 80px;
position: absolute;
margin: 0px auto;
bottom: 50px;
left: 50%;
width: 90%;
transform: translateX(-50%);
}
.heroFooterSection p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 0px;
letter-spacing: -0.1px;
color: #9A9EA7;
margin-left: 10px;

}
.form-select{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.1px;
color: #0D0A19;
border: none !important;
transition: 0.3s all;
}
.withoutP{
    margin-top: 42px;
}
.HeaderBtn{
background: #7963F0;
border-radius: 10px;
color: white;
padding: 10px 20px;
position: absolute;
bottom: 21px;
font-weight: 700;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.1px;
pointer-events: none;
}
.BorderRight{
    border-right: .10px solid gray;
    height: 40px;
    margin-top: 20px;
}
.year{
    margin-top: 17px;
}
.model{
    margin-top: 17px;
}
.price{
  margin-top: -7px;

}

/*-----------section2---------*/

.section2{
   margin: 120px 0px 100px 0px;
   
}

/*------------section3-------------*/
.section3{
    margin-bottom: 80px;
}

.section3 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;

    letter-spacing: -0.1px;
    color: #0D0A19;
    margin-bottom: 50px;
}
.subaru{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
color: #0D0A19;

}
.subaruP{
margin-top: -5px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.1px;
color: #9A9EA7;
}
.button1{
    background-color: #c8c0f5;
    color: #383839;
    margin-right: 10px;
    pointer-events: none;
}
.button2{
    background-color: #d2d4d8;   
}
.button2:hover{
    background-color: #c8c0f5;
    color: #383839;
}

.card{
    border: 1px solid #c8c0f5;
    border-radius: 5px;
    box-shadow:0 0 20px #fff;
    height: 400px;
    width: 350px;
    align-items: center;
    padding-top: 40px;
    overflow: hidden;
}
.car1{
width: 310px;
height: 178px;
}
.cardWrap{
    column-gap: 15px;
    margin-left: 100px;
}

/*------------section4-------------*/


.FindcarHeader {
    width: 98%;
    height: 60px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 70px;
}

.section4{
    margin-top: 100px;
    margin-bottom: 100px;
}

.findCar {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 36px;
letter-spacing: -0.1px;
color: #0D0A19;
}

.ArrowArea{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: right;
color: #9A9EA7;

}

header p span {
    margin:0px 5px;
    width: 30px;
    height: 30px;

} 
.ArrowArea {
    margin-top: 15px;
}
.ArrowArea img {
background: #F5F6F7;
border-radius: 10px;
padding: 10px !important;

}
.Sedan {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #0D0A19;

}



.ProBTN {
    font-family: 'Inter';
	font-style: normal;
	font-weight: 700 !important;
	font-size: 12px !important;
	line-height: 18px !important;
	text-align: center !important;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), #7963f0 !important;
	border-radius: 8px !important;
	color: #7963f0 !important;
}

.ProBTN1 {
    font-family: 'Inter';
	font-style: normal;
	font-weight: 700 !important;
	font-size: 12px !important;
	line-height: 18px !important;
	text-align: center !important;
    background: #F5F6F7;
    border-radius: 8px;
    color: #9A9EA7;
}
.product {
	min-width: 24%;
	margin: 0 20px 50px 0px;
	position: relative;
	left: 0;
	transition: 0.5s;
}
.CarouselSection{
    overflow: hidden;
}


/*------------section5-------------*/

.section5 h1{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 36px;
letter-spacing: -0.1px;
color: #0D0A19;
}
.section5P{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.1px;
color: #0D0A19;
}
.section5 .NumberContainer .time{
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    margin-left: 10px;
    text-align: center;
    border-radius: 5px;
    
}
.section5 .NumberContainer .time span{
    margin-top: 5px;
    position: absolute;
    margin-left: -5px;
}
.infoP{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
    margin-top: 5px;
}
.section5{
    width: 100%;
    position: relative;
    margin-bottom: 50px;

}
.CompanyLogo{
    border-radius: 10px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}

.mobileView{
    margin-bottom: 400px;
    position: absolute;
    margin-left: 1000px;
    margin-top: 150px;
    z-index: 3;
}
.mobile{
    box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-radius: 10px;
}
.companyImg{
    padding: 20px;

}

*{
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}



/*-------------------section6---------------*/
.bmt{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #9A9EA7;
    margin: 10px;
}
.make{
    color:#0D0A19;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.1px;
    border: 1px solid gray;
    border-radius: 10px;
    pointer-events: none;
}
.section6{
    padding-top: 50px;
}
.section6 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.1px;
    color: #0D0A19;
}

.pm{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #9A9EA7;

}
.find{
    margin-left: 30px;
    padding-top: 20px;
}
.findImg{
    height: 30px;
    width: 50px;
}
.findInfo{
    margin-left: 20px;
}
.findInfo h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    color: #0D0A19;
}
.findInfo p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
}

/*-------------------section7---------------*/


.om{
    margin-left: 200px;
}
.omlist{
    list-style: none;
    margin-left: -20px;
}
.omlist li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 35px;
    color: #0D0A19;

}

.lasttwo{
    margin-top: 50px;
    margin-left: 250px;
}
.omlist2{
    margin-right: 5px;
}

.section7{
    padding-top: 50px;
    margin-bottom: 20px;
}
.lastlist{
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
}
.section7{
    background-color: rgb(230, 228, 227);

}
.section7h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #0D0A19;
    margin-left: 30px;
}

.footer{
    margin: 30px;
    padding: 20px;
    background-color: #3d3d40;
    color: white;
  
}


@media all and (max-width: 767px){
    .section1 h1{
        font-size: 33px;
        line-height: 40px;
    }
    .section1P{
        font-size: 15px;
        font-weight: 300;
    }
    .heroFooterSection{
        height: 450px;
        top: 400px;
        position: absolute;
    }
    .HeaderBtn{
        width: 95%;
        padding: 17px 0px;
    }
    .BorderBottom{
        border-bottom: 1px solid gray;
        width: 100%;
    }
    .section2{
        margin-top: 200px;
    }
    .section2 img{
        margin-top: 40px;
    }
    .cardWrap{
        margin-right: 100px;
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .section3 h1{
         right: -400px;
    }
   .CarouselSection{
    flex-direction: column;
   }
   .ArrowArea{
    display: none;
   }
    
   .InfoWrapper{
    width: 70%;
    text-align: center;
   }
   .CompanyInfo{
    margin-left: 80px;
   }
   .companyImg{
    height: 300px;
    width: 300px;
   }
   .CompanyLogo{
    margin-left: 70px;
   }
   .mobileView{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 450px;
   }
   .mobile{
    height: 200px;
    margin-left: 100px;
   }
   .section7{
    
    
   }

}
